//Universial CSS
body {
  blockquote {
    background-color: #fafafa;
  }

  video {
    width: 100%;
    height: auto;
  }

  .footer .soc-item i {
    color: white;
  }

  .nav-item {
    display: flex;
    align-items: center;

    .cv-btn {
      background-color: black;
      border-radius: 30px;
      color: white !important;
      min-height: 40px;
      min-width: 120px;

      &:hover {
        background-color: white !important;
        border-radius: 30px !important;
        outline-style: solid !important;
        outline-width: 1pt !important;
        color: black !important;
      }
    }
  }

  .figma-embed {
    height: 80vh;
    width: 100%;
  }

  i {
    font-style: italic;
  }
}

//Macquarie University CSS
.mq {

  .linkedin-embed {
    padding-top: 4rem;
    padding-bottom: 2rem;
    background-color: #ffffff;

    iframe {
      min-height: 50vh;
      border-style: solid;
      border-color: rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      border-width: 1px;
    }
  }

  .project-highlight-number {
    color: rgb(166, 25, 46);
    font-size: 4rem;
  }

  .project-highlight-icon {
    max-height: 5rem;
  }

  .card-title {
    margin-top: 2rem;
  }

  .mbr-section-subtitle {
    font-style: italic;
  }

  .card-wrapper {
    padding-bottom: 16px;
    margin-bottom: 16px;
  }

  .hero-logo-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 40vh;
    padding-bottom: 10vh;
    width: auto;
  }

  .cid-ttMS7WZ0MS {
    background-image: none;

    .item {
      cursor: auto;
    }

    .item-wrapper {
      border-width: 1px;
      border-color: rgba(68, 68, 68, 0.6);
      border-style: solid;
    }
  }

  /*NEW STUFF START*/
  /*https://codepen.io/simoberny/pen/pJZJQY*/
  #floating-button-master {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: #A6192E;
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  .float-default {
    color: white;
    position: absolute;
    top: 0;
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 0;
    margin: 16px; /*line-height: 55px;*//*font-size: 20px;*/
    font-family: 'Roboto', serif;
    font-weight: 300;
    animation: fade-out 0.3s;
    transition: all 0.3s;
  }

  .edit {
    position: absolute;
    top: 0;
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    opacity: 0;
    margin: auto;
    line-height: 55px;
    transform: rotateZ(-70deg);
    transition: all 0.3s;
    animation: edit-out 0.3s;
    max-width: 24px;
  }

  .floating-button-items {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: fixed;
    z-index: 300;
    transform: scale(0);
    cursor: pointer;

    &:hover {
      //background: rgba(166, 25, 46, 0.6);
      background: rgba(0, 0, 0, 0.8);
    }

    .item-content {
      font-size: 24px;
      font-family: 'Roboto', serif;
      color: white;
      position: absolute;
      left: 0;
      right: 0;
      margin: 0;
      top: 0;
      bottom: 0;
      text-align: center;
      line-height: 40px;
      font-weight: 700;
    }
  }

  .first-item {
    background: #A6192E;
    right: 38px;
    bottom: 300px;
    animation: bounce-out-nds 0.25s linear;
    animation-fill-mode: forwards;
  }

  .second-item {
    background: #A6192E;
    right: 38px;
    bottom: 240px;
    animation: bounce-out-nds 0.2s linear;
    animation-fill-mode: forwards;
  }

  .third-item {
    background: #A6192E;
    right: 38px;
    bottom: 180px;
    animation: bounce-out-nds 0.15s linear;
    animation-fill-mode: forwards;
  }

  .forth-item {
    background: #A6192E;
    right: 38px;
    bottom: 120px;
    animation: bounce-out-nds 0.1s linear;
    animation-fill-mode: forwards;
  }


  @keyframes edit-in {
    from {
      opacity: 0;
      transform: rotateZ(-70deg);
    }
    to {
      opacity: 1;
      transform: rotateZ(0deg);
    }
  }

  @keyframes edit-out {
    from {
      opacity: 1;
      transform: rotateZ(0deg);
    }
    to {
      opacity: 0;
      transform: rotateZ(-70deg);
    }
  }

  @keyframes fade-in {
    from {
      opacity: 1;
      transform: rotateZ(0deg);
    }
    to {
      opacity: 0;
      transform: rotateZ(180deg);
    }
  }

  @keyframes fade-out {
    from {
      opacity: 0;
      transform: rotateZ(180deg);
    }
    to {
      opacity: 1;
      transform: rotateZ(0deg);
    }
  }

  @keyframes bounce-nds {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes bounce-out-nds {
    from {
      opacity: 1;
      transform: scale(1);
    }
    to {
      opacity: 0;
      transform: scale(0);
    }
  }

  #material-floating {
    position: fixed;
    width: 70px;
    height: 70px;
    bottom: 30px;
    right: 30px;
    z-index: 50;

    &:hover {
      height: 400px;
      width: 90px; /*padding: 30px;*/
    }

    &:hover .float-default {
      animation: fade-in 0.15s linear;
      animation-fill-mode: forwards;
    }

    &:hover .edit {
      animation: edit-in 0.2s;
      animation-delay: 0.1s;
      animation-fill-mode: forwards;
    }

    &:hover .floating-button-items {
      animation: bounce-nds 0.1s linear;
      animation-fill-mode: forwards;
    }

    &:hover .first-item {
      animation-delay: 0.25s;
    }

    &:hover .second-item {
      animation-delay: 0.2s;
    }

    &:hover .third-item {
      animation-delay: 0.15s;
    }

    &:hover .forth-item {
      animation-delay: 0.1s;
    }

    //&:hover .nd5 {
    //  animation-delay: 0.2s;
    //}
  }

  /*NEW STUFF END*/
}

//Growth Team CSS
.gt {
  color: #fafafa;

  .images-container {
    div {
      align-items: center;
    }

    img {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      max-width: 100%;
      object-fit: cover;
    }
  }

  a {
    color: #FFFFFF;

    &:hover {
      color: #aaaaaa;
    }
  }

  #GT-background {
    min-height: 100vh;
  }

  #GT-stats {
    margin: 8rem 0 2rem 0;
  }

  #competitor {
    align-items: center;
  }

  .highlight {
    display: inline;
    padding: .15rem 0;
    background: #FFB81C;
    color: #ffffff;
    box-shadow: .2rem 0 0 #FFB81C, -.2rem 0 0 #FFB81C;
  }

  .cid-ttb2QpX9tJ {
    background-image: none;
    background-color: #000000;
  }

  .display-2, .display-5, .cid-ttMS7WZ0MS .item-subtitle {
    color: #fafafa;
  }

  .cid-ttAxQGSi5X, .cid-tsTbrSpAmN, .cid-tsTbrSpAmN .card-wrapper, .cid-tsTe1yDwpP, .cid-tsTe4FWAjR, .cid-tsTeu6ZcM0, .cid-ttMS7WZ0MS, .cid-ttXn1IpW1V, .cid-ttXyGOqq2l {
    background-color: #101820;
  }

  .cid-tsTSRyQk7P {
    background-color: #FFB81C;
  }

  .cid-ttXyGOqq2l {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .cid-ttXkBkQcHO, .cid-ttXjQOqq2l {
    color: #101820;
    background-color: #FFB81C;

    .display-2 {
      color: #101820;
    }

    h3, h4 {
      color: #101820;
    }
  }

  .tools-used {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    img {
      max-width: 24px;
    }
  }

  .cid-ttMS7WZ0MS .item-wrapper {
    background-color: #101820 !important;
    border-width: 1px !important;
    border-color: rgba(250, 184, 28, 0.9) !important;
    border-style: solid;
  }

  .btn-primary {
    background-color: #FFB81C !important;
    border-color: #FFB81C !important;

    &:hover {
      background-color: #C78900 !important;
      border-color: #C78900 !important;
    }
  }

  .text-primary {
    color: #FFB81C !important;

    &:hover, &:focus {
      color: #C78900 !important;
    }
  }

  .project-highlight-number {
    color: #FFB81C;
    font-size: 4rem;
  }

  .project-highlight-icon {
    max-height: 5rem;
  }

  .card-title {
    margin-top: 2rem;
  }

  .card-wrapper {
    padding-bottom: 16px;
    margin-bottom: 16px;
  }

  .hero-logo-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 40vh;
    padding-bottom: 10vh;
    width: auto;
  }

  .cid-ttMS7WZ0MS {
    background-image: none;

    .item {
      cursor: auto;
    }

    .item-wrapper {
      border-width: 1px;
      border-color: rgba(68, 68, 68, 0.6);
      border-style: solid;
    }

    padding-top: 0;
  }

  /*NEW STUFF START*/
  /*https://codepen.io/simoberny/pen/pJZJQY*/
  #floating-button-master {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: #FFB81C;
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  .float-default {
    color: white;
    position: absolute;
    top: 0;
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 0;
    margin: 16px; /*line-height: 55px;*//*font-size: 20px;*/
    font-family: 'Roboto', serif;
    font-weight: 300;
    animation: fade-out 0.3s;
    transition: all 0.3s;
  }

  .edit {
    position: absolute;
    top: 0;
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    opacity: 0;
    margin: auto;
    line-height: 55px;
    transform: rotateZ(-70deg);
    transition: all 0.3s;
    animation: edit-out 0.3s;
    max-width: 24px;
  }

  .floating-button-items {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: fixed;
    z-index: 300;
    transform: scale(0);
    cursor: pointer;

    &:hover {
      background: rgba(255, 184, 28, 0.4);
    }

    .item-content {
      font-size: 24px;
      font-family: 'Roboto', serif;
      color: white;
      position: absolute;
      left: 0;
      right: 0;
      margin: 0;
      top: 0;
      bottom: 0;
      text-align: center;
      line-height: 40px;
      font-weight: 700;
    }
  }

  .first-item {
    background: #FFB81C;
    right: 38px;
    bottom: 300px;
    animation: bounce-out-nds 0.25s linear;
    animation-fill-mode: forwards;
  }

  .second-item {
    background: #FFB81C;
    right: 38px;
    bottom: 240px;
    animation: bounce-out-nds 0.2s linear;
    animation-fill-mode: forwards;
  }

  .third-item {
    background: #FFB81C;
    right: 38px;
    bottom: 180px;
    animation: bounce-out-nds 0.15s linear;
    animation-fill-mode: forwards;
  }

  .forth-item {
    background: #FFB81C;
    right: 38px;
    bottom: 120px;
    animation: bounce-out-nds 0.1s linear;
    animation-fill-mode: forwards;
  }


  @keyframes edit-in {
    from {
      opacity: 0;
      transform: rotateZ(-70deg);
    }
    to {
      opacity: 1;
      transform: rotateZ(0deg);
    }
  }

  @keyframes edit-out {
    from {
      opacity: 1;
      transform: rotateZ(0deg);
    }
    to {
      opacity: 0;
      transform: rotateZ(-70deg);
    }
  }

  @keyframes fade-in {
    from {
      opacity: 1;
      transform: rotateZ(0deg);
    }
    to {
      opacity: 0;
      transform: rotateZ(180deg);
    }
  }

  @keyframes fade-out {
    from {
      opacity: 0;
      transform: rotateZ(180deg);
    }
    to {
      opacity: 1;
      transform: rotateZ(0deg);
    }
  }

  @keyframes bounce-nds {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes bounce-out-nds {
    from {
      opacity: 1;
      transform: scale(1);
    }
    to {
      opacity: 0;
      transform: scale(0);
    }
  }

  #material-floating {
    position: fixed;
    width: 70px;
    height: 70px;
    bottom: 30px;
    right: 30px;
    z-index: 50;

    &:hover {
      height: 400px;
      width: 90px; /*padding: 30px;*/
    }

    &:hover .float-default {
      animation: fade-in 0.15s linear;
      animation-fill-mode: forwards;
    }

    &:hover .edit {
      animation: edit-in 0.2s;
      animation-delay: 0.1s;
      animation-fill-mode: forwards;
    }

    &:hover .floating-button-items {
      animation: bounce-nds 0.1s linear;
      animation-fill-mode: forwards;
    }

    &:hover .first-item {
      animation-delay: 0.25s;
    }

    &:hover .second-item {
      animation-delay: 0.2s;
    }

    &:hover .third-item {
      animation-delay: 0.15s;
    }

    &:hover .forth-item {
      animation-delay: 0.1s;
    }

    //&:hover .nd5 {
    //  animation-delay: 0.2s;
    //}
  }

  /*NEW STUFF END*/
}

//Homepage CSS
.index {

  .cid-tsKtUnEAbe {
    background-image: none;
    background-color: black;
    min-height: 80vh;
    display: flex;
    align-items: center;
    color: #fafafa;

    .btn.btn-white {
      color: black !important;
    }
  }

  .cid-tsfJEb9NQk {
    .item {
      cursor: auto;
    }

    .item-wrapper {
      border-style: solid;
      border-width: 1px;
      border-color: rgba(0, 0, 0, 0.4);
    }
  }
}

//About page CSS
.about {
  a.text-primary {
    font-weight: bold;
    color: black !important;
  }

  .cid-tvhboNfsMX {
    background-color: #fff;
  }
}

//Contact page CSS
.contact {
  a.text-primary {
    color: black !important;
  }

  .cid-tvx6Ir57Mo {
    background-color: #fff;
  }

  div.card-wrapper {
    display: flex;
    border-radius: 8px;
    background-color: #ffffff;;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.5);
  }

  div.image-wrapper {
    margin-right: 3rem;
  }
}

//UI page CSS
.ui {
  section {
    padding: 4rem 0;
  }

  .header {
    background-image: none;
  }

  .image-wrapper {
    margin-top: 2rem;
    margin-bottom: 4rem;
  }

  .cred•ui•inspiration {
    color: #fafafa;
    background-color: #12131C;

    .--fa-border-color {
      color: red;
    }

    a {
      color: #fafafa;
    }
  }
}