@charset "UTF-8";
body blockquote {
  background-color: #fafafa; }
body video {
  width: 100%;
  height: auto; }
body .footer .soc-item i {
  color: white; }
body .nav-item {
  display: flex;
  align-items: center; }
  body .nav-item .cv-btn {
    background-color: black;
    border-radius: 30px;
    color: white !important;
    min-height: 40px;
    min-width: 120px; }
    body .nav-item .cv-btn:hover {
      background-color: white !important;
      border-radius: 30px !important;
      outline-style: solid !important;
      outline-width: 1pt !important;
      color: black !important; }
body .figma-embed {
  height: 80vh;
  width: 100%; }
body i {
  font-style: italic; }

.mq {
  /*NEW STUFF START*/
  /*https://codepen.io/simoberny/pen/pJZJQY*/
  /*NEW STUFF END*/ }
  .mq .linkedin-embed {
    padding-top: 4rem;
    padding-bottom: 2rem;
    background-color: #ffffff; }
    .mq .linkedin-embed iframe {
      min-height: 50vh;
      border-style: solid;
      border-color: rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      border-width: 1px; }
  .mq .project-highlight-number {
    color: #a6192e;
    font-size: 4rem; }
  .mq .project-highlight-icon {
    max-height: 5rem; }
  .mq .card-title {
    margin-top: 2rem; }
  .mq .mbr-section-subtitle {
    font-style: italic; }
  .mq .card-wrapper {
    padding-bottom: 16px;
    margin-bottom: 16px; }
  .mq .hero-logo-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 40vh;
    padding-bottom: 10vh;
    width: auto; }
  .mq .cid-ttMS7WZ0MS {
    background-image: none; }
    .mq .cid-ttMS7WZ0MS .item {
      cursor: auto; }
    .mq .cid-ttMS7WZ0MS .item-wrapper {
      border-width: 1px;
      border-color: rgba(68, 68, 68, 0.6);
      border-style: solid; }
  .mq #floating-button-master {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: #A6192E;
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center; }
  .mq .float-default {
    color: white;
    position: absolute;
    top: 0;
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 0;
    margin: 16px;
    /*line-height: 55px;*/
    /*font-size: 20px;*/
    font-family: 'Roboto', serif;
    font-weight: 300;
    animation: fade-out 0.3s;
    transition: all 0.3s; }
  .mq .edit {
    position: absolute;
    top: 0;
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    opacity: 0;
    margin: auto;
    line-height: 55px;
    transform: rotateZ(-70deg);
    transition: all 0.3s;
    animation: edit-out 0.3s;
    max-width: 24px; }
  .mq .floating-button-items {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: fixed;
    z-index: 300;
    transform: scale(0);
    cursor: pointer; }
    .mq .floating-button-items:hover {
      background: rgba(0, 0, 0, 0.8); }
    .mq .floating-button-items .item-content {
      font-size: 24px;
      font-family: 'Roboto', serif;
      color: white;
      position: absolute;
      left: 0;
      right: 0;
      margin: 0;
      top: 0;
      bottom: 0;
      text-align: center;
      line-height: 40px;
      font-weight: 700; }
  .mq .first-item {
    background: #A6192E;
    right: 38px;
    bottom: 300px;
    animation: bounce-out-nds 0.25s linear;
    animation-fill-mode: forwards; }
  .mq .second-item {
    background: #A6192E;
    right: 38px;
    bottom: 240px;
    animation: bounce-out-nds 0.2s linear;
    animation-fill-mode: forwards; }
  .mq .third-item {
    background: #A6192E;
    right: 38px;
    bottom: 180px;
    animation: bounce-out-nds 0.15s linear;
    animation-fill-mode: forwards; }
  .mq .forth-item {
    background: #A6192E;
    right: 38px;
    bottom: 120px;
    animation: bounce-out-nds 0.1s linear;
    animation-fill-mode: forwards; }
@keyframes edit-in {
  from {
    opacity: 0;
    transform: rotateZ(-70deg); }
  to {
    opacity: 1;
    transform: rotateZ(0deg); } }
@keyframes edit-out {
  from {
    opacity: 1;
    transform: rotateZ(0deg); }
  to {
    opacity: 0;
    transform: rotateZ(-70deg); } }
@keyframes fade-in {
  from {
    opacity: 1;
    transform: rotateZ(0deg); }
  to {
    opacity: 0;
    transform: rotateZ(180deg); } }
@keyframes fade-out {
  from {
    opacity: 0;
    transform: rotateZ(180deg); }
  to {
    opacity: 1;
    transform: rotateZ(0deg); } }
@keyframes bounce-nds {
  from {
    opacity: 0; }
  to {
    opacity: 1;
    transform: scale(1); } }
@keyframes bounce-out-nds {
  from {
    opacity: 1;
    transform: scale(1); }
  to {
    opacity: 0;
    transform: scale(0); } }
  .mq #material-floating {
    position: fixed;
    width: 70px;
    height: 70px;
    bottom: 30px;
    right: 30px;
    z-index: 50; }
    .mq #material-floating:hover {
      height: 400px;
      width: 90px;
      /*padding: 30px;*/ }
    .mq #material-floating:hover .float-default {
      animation: fade-in 0.15s linear;
      animation-fill-mode: forwards; }
    .mq #material-floating:hover .edit {
      animation: edit-in 0.2s;
      animation-delay: 0.1s;
      animation-fill-mode: forwards; }
    .mq #material-floating:hover .floating-button-items {
      animation: bounce-nds 0.1s linear;
      animation-fill-mode: forwards; }
    .mq #material-floating:hover .first-item {
      animation-delay: 0.25s; }
    .mq #material-floating:hover .second-item {
      animation-delay: 0.2s; }
    .mq #material-floating:hover .third-item {
      animation-delay: 0.15s; }
    .mq #material-floating:hover .forth-item {
      animation-delay: 0.1s; }

.gt {
  color: #fafafa;
  /*NEW STUFF START*/
  /*https://codepen.io/simoberny/pen/pJZJQY*/
  /*NEW STUFF END*/ }
  .gt #competitor {
    align-items: center; }
  .gt .highlight {
    display: inline;
    padding: .15rem 0;
    background: #FFB81C;
    color: #ffffff;
    box-shadow: .5em 0 0 #FFB81C, -.5em 0 0 #FFB81C; }
  .gt .cid-ttb2QpX9tJ {
    background-image: none;
    background-color: #000000; }
  .gt .display-2, .gt .display-5, .gt .cid-ttMS7WZ0MS .item-subtitle {
    color: #fafafa; }
  .gt .cid-ttAxQGSi5X, .gt .cid-tsTbrSpAmN, .gt .cid-tsTbrSpAmN .card-wrapper, .gt .cid-tsTe1yDwpP, .gt .cid-tsTe4FWAjR, .gt .cid-tsTeu6ZcM0, .gt .cid-ttMS7WZ0MS, .gt .cid-ttXn1IpW1V, .gt .cid-tsTSRyQk7P, .gt .cid-ttXyGOqq2l {
    background-color: #101820; }
  .gt .cid-ttXyGOqq2l {
    padding-top: 4rem;
    padding-bottom: 4rem; }
  .gt .cid-ttXkBkQcHO, .gt .cid-ttXjQOqq2l {
    color: #101820;
    background-color: #FFB81C; }
    .gt .cid-ttXkBkQcHO .display-2, .gt .cid-ttXjQOqq2l .display-2 {
      color: #101820; }
    .gt .cid-ttXkBkQcHO h3, .gt .cid-ttXkBkQcHO h4, .gt .cid-ttXjQOqq2l h3, .gt .cid-ttXjQOqq2l h4 {
      color: #101820; }
  .gt .tools-used {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
    .gt .tools-used img {
      max-width: 24px; }
  .gt .cid-ttMS7WZ0MS .item-wrapper {
    background-color: #101820 !important;
    border-width: 1px !important;
    border-color: rgba(250, 184, 28, 0.9) !important;
    border-style: solid; }
  .gt .btn-primary {
    background-color: #FFB81C !important;
    border-color: #FFB81C !important; }
    .gt .btn-primary:hover {
      background-color: #C78900 !important;
      border-color: #C78900 !important; }
  .gt .text-primary {
    color: #FFB81C !important; }
    .gt .text-primary:hover, .gt .text-primary:focus {
      color: #C78900 !important; }
  .gt .project-highlight-number {
    color: #FFB81C;
    font-size: 4rem; }
  .gt .project-highlight-icon {
    max-height: 5rem; }
  .gt .card-title {
    margin-top: 2rem; }
  .gt .mbr-section-subtitle {
    font-style: italic; }
  .gt .card-wrapper {
    padding-bottom: 16px;
    margin-bottom: 16px; }
  .gt .hero-logo-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 40vh;
    padding-bottom: 10vh;
    width: auto; }
  .gt .cid-ttMS7WZ0MS {
    background-image: none; }
    .gt .cid-ttMS7WZ0MS .item {
      cursor: auto; }
    .gt .cid-ttMS7WZ0MS .item-wrapper {
      border-width: 1px;
      border-color: rgba(68, 68, 68, 0.6);
      border-style: solid; }
  .gt #floating-button-master {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: #FFB81C;
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center; }
  .gt .float-default {
    color: white;
    position: absolute;
    top: 0;
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 0;
    margin: 16px;
    /*line-height: 55px;*/
    /*font-size: 20px;*/
    font-family: 'Roboto', serif;
    font-weight: 300;
    animation: fade-out 0.3s;
    transition: all 0.3s; }
  .gt .edit {
    position: absolute;
    top: 0;
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    opacity: 0;
    margin: auto;
    line-height: 55px;
    transform: rotateZ(-70deg);
    transition: all 0.3s;
    animation: edit-out 0.3s;
    max-width: 24px; }
  .gt .floating-button-items {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: fixed;
    z-index: 300;
    transform: scale(0);
    cursor: pointer; }
    .gt .floating-button-items:hover {
      background: rgba(255, 184, 28, 0.4); }
    .gt .floating-button-items .item-content {
      font-size: 24px;
      font-family: 'Roboto', serif;
      color: white;
      position: absolute;
      left: 0;
      right: 0;
      margin: 0;
      top: 0;
      bottom: 0;
      text-align: center;
      line-height: 40px;
      font-weight: 700; }
  .gt .first-item {
    background: #FFB81C;
    right: 38px;
    bottom: 300px;
    animation: bounce-out-nds 0.25s linear;
    animation-fill-mode: forwards; }
  .gt .second-item {
    background: #FFB81C;
    right: 38px;
    bottom: 240px;
    animation: bounce-out-nds 0.2s linear;
    animation-fill-mode: forwards; }
  .gt .third-item {
    background: #FFB81C;
    right: 38px;
    bottom: 180px;
    animation: bounce-out-nds 0.15s linear;
    animation-fill-mode: forwards; }
  .gt .forth-item {
    background: #FFB81C;
    right: 38px;
    bottom: 120px;
    animation: bounce-out-nds 0.1s linear;
    animation-fill-mode: forwards; }
@keyframes edit-in {
  from {
    opacity: 0;
    transform: rotateZ(-70deg); }
  to {
    opacity: 1;
    transform: rotateZ(0deg); } }
@keyframes edit-out {
  from {
    opacity: 1;
    transform: rotateZ(0deg); }
  to {
    opacity: 0;
    transform: rotateZ(-70deg); } }
@keyframes fade-in {
  from {
    opacity: 1;
    transform: rotateZ(0deg); }
  to {
    opacity: 0;
    transform: rotateZ(180deg); } }
@keyframes fade-out {
  from {
    opacity: 0;
    transform: rotateZ(180deg); }
  to {
    opacity: 1;
    transform: rotateZ(0deg); } }
@keyframes bounce-nds {
  from {
    opacity: 0; }
  to {
    opacity: 1;
    transform: scale(1); } }
@keyframes bounce-out-nds {
  from {
    opacity: 1;
    transform: scale(1); }
  to {
    opacity: 0;
    transform: scale(0); } }
  .gt #material-floating {
    position: fixed;
    width: 70px;
    height: 70px;
    bottom: 30px;
    right: 30px;
    z-index: 50; }
    .gt #material-floating:hover {
      height: 400px;
      width: 90px;
      /*padding: 30px;*/ }
    .gt #material-floating:hover .float-default {
      animation: fade-in 0.15s linear;
      animation-fill-mode: forwards; }
    .gt #material-floating:hover .edit {
      animation: edit-in 0.2s;
      animation-delay: 0.1s;
      animation-fill-mode: forwards; }
    .gt #material-floating:hover .floating-button-items {
      animation: bounce-nds 0.1s linear;
      animation-fill-mode: forwards; }
    .gt #material-floating:hover .first-item {
      animation-delay: 0.25s; }
    .gt #material-floating:hover .second-item {
      animation-delay: 0.2s; }
    .gt #material-floating:hover .third-item {
      animation-delay: 0.15s; }
    .gt #material-floating:hover .forth-item {
      animation-delay: 0.1s; }

.index .cid-tsKtUnEAbe {
  background-image: none; }
.index .cid-tsfJEb9NQk .item {
  cursor: auto; }
.index .cid-tsfJEb9NQk .item-wrapper {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.4); }

.about a.text-primary {
  font-weight: bold;
  color: black !important; }
.about .cid-tvhboNfsMX {
  background-color: #fff; }

.contact a.text-primary {
  color: black !important; }
.contact .cid-tvx6Ir57Mo {
  background-color: #fff; }
.contact div.card-wrapper {
  display: flex;
  border-radius: 8px;
  background-color: #ffffff;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.5); }
.contact div.image-wrapper {
  margin-right: 3rem; }

.ui section {
  padding: 4rem 0; }
.ui .header {
  background-image: none; }
.ui .image-wrapper {
  margin-top: 2rem;
  margin-bottom: 4rem; }
.ui .cred•ui•inspiration {
  color: #fafafa;
  background-color: #12131C; }
  .ui .cred•ui•inspiration .--fa-border-color {
    color: red; }
  .ui .cred•ui•inspiration a {
    color: #fafafa; }
